body {
    background-image: url(./logo/logo.png);
    background-repeat:no-repeat;
    background-position: center center;
}
p {
    text-align: center ;
    font-size:xx-large;
    font-weight: bolder;
}
a